/*
body{
	background-color:white;
}

li a:visited {
	text-decoration:none;
}

#navBarContainer {
	list-style-type:none;
	margin: 0;
	padding: 0;
}

#navBarContainer ul li { 
	display: inline; 
	padding: 5px;
	text-decoration: none;
}

#navBarContainer ul li a:link { 
	text-decoration: none;
}

#navBarContainer ul li a:hover { 
	text-decoration: underline;
}

#error {
	color: red;
}

#info {
	color:green;
}

table {
	border-color:black;
	border-width:1px;
	border-style:solid;
}

td {
	padding:10px;
}



*/





/********/



#navBarContainer ul {
list-style: none;
font-family:calibri,Tahoma;
color:black;
border-bottom: 1px black solid;
padding-bottom: 10px;
}

#navBarContainer ul li {
display: inline;
margin-right: 5px;
}
#navBarContainer ul li a {
color:black;
text-decoration: none;
background: white;
border: 1px black solid;
border-bottom: none;
padding: 10px 14px;
}
#navBarContainer ul li a:hover {
padding: 14px 14px 10px 14px;
background:white;
}
#navBarContainer ul li a.selected {
color:black;
background:white;
border: 1px black solid;
border-bottom: 1px white solid;
padding: 14px 14px 10px 14px;
}

/** END **/

body {
	background-color:rgb(255,255,255);
	margin-top:10px;
}

p {
	font-family:calibri, tahoma;
	font-size:13pt;
}

li {
	font-family:calibri,tahoma;
}

span {
	font-family:calibri, tahoma;
	font-size:10pt;
}

h1,h2,h3,h4,h5{
	font-family:calibri, tahoma;
}

hr {
	background-color:black;
	height:1px;
	width:139px;
	margin-left:-10px;
}

#error {
	color:red;
	font-size:11pt;
}

#info  {
	color:green;
	font-size:11pt;
}

a {
	color:black;
	text-decoration:none;
}
p a:hover {
	text-decoration:underline;
}

a image {
	border: none;
}

#center {
	margin-left:auto;
	margin-right:auto;
	width:50%;
}

#container {
	margin-top:10px;
}

#container ul li{
	list-style-type:none;
	margin-left:-38px;
}

#container ul li a:hover {
	text-decoration:underline;
}

#header {
	margin-left:15px;
}

#navContainer {
	width:800px;
/*	height:40px; */
	margin: 0 auto;
	margin-bottom:-18px;
	border-bottom:none;
}

#divBody {
	background-color:white;
	width:800px;
	height:400px;
	/*overflow:auto;*/
	margin: 10px auto;
	/*border: 1px solid black;*/
}

#footer {
	width:800px;
	height:35px;
	margin: 0 auto;
	background-color: white;
	border: 1px solid black;
}

#loginContainer {
	border-style:outset;
	border-color:black;
	border-width: 1px;
	width:300px;
	height:100px;
}

#login {
	margin-left:20px;
	margin-top:10px;
}

#sendInviteContainer {
	border-style:outset;
	border-color:black;
	border-width: 1px;
	width:300px;
	height:100px;
}

#sendInvite {
	margin-left:20px;
	margin-top:10px;
}

#addUserContainer {
	border-style:outset;
	border-color:black;
	border-width: 1px;
	width:500px;
	height:100px;
}

#addUser {
	margin-left:20px;
	margin-top:10px;
}

#display ul li {
	display:inline;
}

#display table {
	/*background-color: #b7a285; */
	background-color:#E0E0E0;
	width : 605px;
	padding:5px;
	border: 1px solid black;
	/*margin: 20px;
	margin-top:0px;*/
}

#display table td {
	border: 1px solid black;
	background-color:white;
	padding:10px;
	/*margin: 20px;*/
	margin-top:0px;
}

#display table td a {
	text-align:center;
}

#display table td a:hover {
	color:blue;
}

#container a {
	font-family:calibri, tahoma;
	font-size:13pt;
}

#container a:hover {
	color:blue;
}