
body{
	background-color:white;
}

li a:visited {
	text-decoration:none;
}

#navBarContainer {
	list-style-type:none;
	margin: 0;
	padding: 0;
}

#navBarContainer ul li { 
	display: inline; 
}

#error {
	color: red;
}

#info {
	color:green;
}

table {
	border-color:black;
	border-width:1px;
	border-style:solid;
}

td {
	padding:10px;
}